#nav {
  display: flex;
  gap: 30px;
  font-family: lucida,helvetica,sans-serif;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
  margin-bottom: 80px;
}

#nav a {
  color: black;
}
  
#nav a:hover {
  color: #555;
}
