#page-contents {
  background-color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#description {
  display: flex;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  margin: 32px;
}